{% load static %}
<html>
    <style>
    div {
      margin: 5px;
      /*border: 1px solid #4CAF50;*/
    } 
    h2 {
        text-align: left;
    }
    .flex-container {
	      display: flex;
	        background-color: #ffffff;
    }

    .flex-container > div {
	      background-color: #f1f1f1;
	      background-color: #ffffff;
	        margin: 0px;
		  padding: 0px;
		    font-size: 13px;
		    flex:0 0 auto;
		    width:32vw;
		    height:29vh;
		    min-width:400px;
		    max-width:470px;
		    min-height:250px;
    }
    h1 {text-align: center;}
    h3 {text-align: center;}
    table, th, td {
	      border: 1px solid black;
	        border-collapse: collapse;
    }
    .center {
	      display: block;
	        margin-left: auto;
		  margin-right: auto;
		    width: 90%;
		    vertical-align: middle;
    }
    </style>
    <head>
	    <link rel="icon" type="image/png" href="{% static 'ignition/spades-512.png' %}">
	    <title>Poker Time Series</title>
    </head>

    <h1>Real Time Poker Data</h1>

	<div class="flex-container">
		<div>
			<div>
        			<canvas id="myChart" width=400 height=220></canvas>
        			    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        			    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        			    <script type="text/javascript">
        				$.get('{% url "line_chart_json" %}', function(data) {
        				    var ctx = $("#myChart").get(0).getContext("2d");
        				    myChart = new Chart(ctx, {
        				type: 'line', data: data, options: {
        				    responsive: true,
						title: {
							display: true,
							text: 'Number of Players',
                            fontSize: 14
						}
        				}
        				    });
        				});
        			    </script>
        			    <script type="text/javascript">
        				setInterval(function() {
        				    $.get('{% url "line_chart_json" %}', function(data) {
        					myChart.data = data
        					myChart.update()
        				    });
        				}, 60 * 1000);
        			    </script>
        			<script type="text/javascript">
        			    setInterval( function() { document.getElementById("container").src += `?v=${new Date().getTime()}`;
        			    }, 60 * 1000);
        			</script>
		    </div>

		</div>
		<div>
            <div>
                <body>

                <canvas id="myChart4" width="400" height="220"></canvas>
                    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                    <script type="text/javascript">
                        $.get('{% url "line_chart_num_plrs_pred_json" %}', function(data) {
                            var ctx = $("#myChart4").get(0).getContext("2d");
                            myChart4 = new Chart(ctx, {
                                type: 'line', data: data, options: {
                                    responsive: true,
					title: {
						display: true,
						text: 'Number of Players (OLS Estimate)',
						fontSize: 14
					}
                                }
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        setInterval(function() {
                            $.get('{% url "line_chart_num_plrs_pred_json" %}', function(data) {
                                myChart4.data = data
                                myChart4.update()
                            });
                        }, 60 * 1000);
                    </script>
                <script type="text/javascript">
                    setInterval( function() { document.getElementById("container").src += `?v=${new Date().getTime()}`;
                    }, 60 * 1000);
                </script>
                </body>
            </div>
        </div>
        <div>
            <div>
                <body>
                <canvas id="myChart5" width="400" height="220"></canvas>
                    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                    <script type="text/javascript">
                        $.get('{% url "line_chart_num_plrs_pred_cvx_json" %}', function(data) {
                            var ctx = $("#myChart5").get(0).getContext("2d");
                            myChart5 = new Chart(ctx, {
                                type: 'line', data: data, options: {
                                    responsive: true,
                                    title: {
                                        display: true,
                                        text: 'Number of Players (CVXPY Estimate)',
                                        fontSize: 14
                                    }
                                }
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        setInterval(function() {
                            $.get('{% url "line_chart_num_plrs_pred_cvx_json" %}', function(data) {
                                myChart5.data = data
                                myChart5.update()
                            });
                        }, 60 * 1000);
                    </script>
                <script type="text/javascript">
                    setInterval( function() { document.getElementById("container").src += `?v=${new Date().getTime()}`;
                    }, 60 * 1000);
                </script>
                </body>
            </div>
        </div>
	</div>

    <div class="flex-container">
        <div>
            <div>
                <body>
                    <canvas id="myChart2" width="400" height="220"></canvas>

                    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                    <script type="text/javascript">
                        $.get('{% url "line_chart_avg_pot_json" %}', function(data) {
                            var ctx = $("#myChart2").get(0).getContext("2d");
                            myChart2 = new Chart(ctx, {
                                type: 'line', data: data, options:
                                    {
                                        responsive: true,
                                        title: {
                                            display: true,
                                            text: 'Average Pot Size',
                                            fontSize: 14
                                        }
                                    }
                            });
                        });
                    </script>
                    <script>
                        setInterval(function() {
                            $.get('{% url "line_chart_avg_pot_json" %}', function(data) {
                                myChart2.data = data
                                myChart2.update()
                            });
                        }, 60 * 1000);
                    </script>
                </body>
            </div>
        </div> 
        <div>
            <div>
                <body>

                    <canvas id="myChart3" width="400" height="220"></canvas>

                    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
                    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
                    <script type="text/javascript">
                        $.get('{% url "line_chart_pct_flop_json" %}', function(data) {
                            var ctx = $("#myChart3").get(0).getContext("2d");
                            myChart3 = new Chart(ctx, {
                                type: 'line', data: data, options: {
                                    responsive: true,
                                    title: {
                                        display: true,
                                        text: 'Percent to Flop',
                                        fontSize: 14
                                    }
                            }
                            });
                        });
                        // console.log($.get('{% url "line_chart_pct_flop_json" %}'))
                    </script>
                    <script>
                        setInterval(function() {
                            $.get('{% url "line_chart_pct_flop_json" %}', function(data) {
                                myChart3.data = data
                                myChart3.update()
                            });
                        }, 60 * 1000); // 60 * 1000 milsec
                    </script>
                </body>
            </div>        
        </div>
    <div>
	    <h3>Recent OCR Failures</h3>
	<img src="{% static 'ignition/fishy_ocr/stitched_fishy_ocrs.png' %}" width="80%" class="center"/>
    </div>
    </div>

    <div class="flex-container">
        <div>
		<br>
		<h3>Statistics <br> (As of {{recentRow.pub_date}} Refresh to update)</h3>
		<table align="center">
			<tr>
				<th>Stake</th>
				<th>#Plrs</th>
				<th>OLSEst</th>
				<th>CVXEst</th>
				<th>PctToFlop</th>
				<th>AvgPot</th>
			</tr>
			<tr>
				<td style="text-align:center">5NL</td>
				<td style="text-align:right">{{ recentRow.num_players_5 }}</td>
				<td style="text-align:right">{{ olsRow.num_players_5 }}</td>
				<td style="text-align:right">{{ cvxRow.num_players_5 }}</td>
				<td style="text-align:right">{{ recentRow.pct_flop_5 }}</td>
				<td style="text-align:right">{{ recentRow.avg_pot_5 }}</td>
			</tr>
			<tr>
				<td style="text-align:center">25NL</td>
				<td style="text-align:right">{{ recentRow.num_players_25 }}</td>
				<td style="text-align:right">{{ olsRow.num_players_25 }}</td>
				<td style="text-align:right">{{ cvxRow.num_players_25 }}</td>
				<td style="text-align:right">{{ recentRow.pct_flop_25 }}</td>
				<td style="text-align:right">{{ recentRow.avg_pot_25 }}</td>
			</tr>
			<tr>
				<td style="text-align:center">50NL</td>
				<td style="text-align:right">{{ recentRow.num_players_50 }}</td>
				<td style="text-align:right">{{ olsRow.num_players_50 }}</td>
				<td style="text-align:right">{{ cvxRow.num_players_50 }}</td>
				<td style="text-align:right">{{ recentRow.pct_flop_50 }}</td>
				<td style="text-align:right">{{ recentRow.avg_pot_50 }}</td>
			</tr>
			<tr>
				<td style="text-align:center">200NL</td>
				<td style="text-align:right">{{ recentRow.num_players_200 }}</td>
				<td style="text-align:right">{{ olsRow.num_players_200 }}</td>
				<td style="text-align:right">{{ cvxRow.num_players_200 }}</td>
				<td style="text-align:right">{{ recentRow.pct_flop_200 }}</td>
				<td style="text-align:right">{{ recentRow.avg_pot_200 }}</td>
			</tr>
			<tr>
				<td style="text-align:center">500NL</td>
				<td style="text-align:right">{{ recentRow.num_players_500 }}</td>
				<td style="text-align:right">{{ olsRow.num_players_500 }}</td>
				<td style="text-align:right">{{ cvxRow.num_players_500 }}</td>
				<td style="text-align:right">{{ recentRow.pct_flop_500 }}</td>
				<td style="text-align:right">{{ recentRow.avg_pot_500 }}</td>
			</tr>
			<tr>
				<td style="text-align:center"><b>Total</b></td>
				<td style="text-align:right">{{ recentSum }}</td>
				<td style="text-align:right">{{ olsSum }}</td>
				<td style="text-align:right">{{ cvxSum }}</td>
				<td style="text-align:right">n/a</td>
				<td style="text-align:right">n/a</td>
			</tr>
			<tr>
				<td style="text-align:center"><b>3 Day Max</b></td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
			</tr>
			<tr>
				<td style="text-align:center"><b>3 Day Avg</b></td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
				<td style="text-align:right">Todo</td>
			</tr>
		</table>
        </div> 
        <div>    
             <h3>Num Players (Tobit Model)<br> (In Progress)</h3>
        </div>
        <div>  
            <h3>Model Performance Metrics (In Progress)</h3>   
        </div>
    </div>


	<style>
    	.row {
    		  display: flex;
    		    flex-wrap: wrap;
    		      padding: 0 4px;
    	}

    	/* Create two equal columns that sits next tch other */
    	.column {
    		  flex: 50%;
    		    padding: 0 4px;
    	}

    	.column img {
    		  margin-top: 8px;
    		    vertical-align: middle;
    	}
	</style>

</html>
