{% load static %}
<html>
    <style>
    div {
      margin: 20px;
      /*border: 1px solid #4CAF50;*/
    } 
    h2 {
        text-align: left;
    }
    .flex-container {
	      display: flex;
	        background-color: DodgerBlue;
    }

    .flex-container > div {
	      background-color: #f1f1f1;
	        margin: 10px;
		  padding: 20px;
		    font-size: 15px;
    }
    </style>
    <head>
	    <link rel="icon" type="image/png" href="{% static 'ignition/spades-512.png' %}">
	    <title>Poker Time Series</title>
    </head>

	<div class="flex-container">
		  <div>
		    <div>
			<body>

			<h2>Number of Players</h2>
			<canvas id="myChart" width="600" height="220"></canvas>
			    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
			    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
			    <script type="text/javascript">
				$.get('{% url "line_chart_json" %}', function(data) {
				    var ctx = $("#myChart").get(0).getContext("2d");
				    myChart = new Chart(ctx, {
				type: 'line', data: data, options: {
				    responsive: false
				}
				    });
				});
			    </script>
			    <script type="text/javascript">
				setInterval(function() {
				    $.get('{% url "line_chart_json" %}', function(data) {
					myChart.data = data
					myChart.update()
				    });
				}, 60 * 1000);
			    </script>
			<script type="text/javascript">
			    setInterval( function() { document.getElementById("container").src += `?v=${new Date().getTime()}`;
			    }, 60 * 1000);
			</script>
			</body>
		    </div>
		  </div>
		    <div>2</div>
		      <div>3</div>  
	</div>
    <div>
        <body>

        <h2>Number of Players</h2>
        <canvas id="myChart" width="900" height="220"></canvas>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "line_chart_json" %}', function(data) {
                    var ctx = $("#myChart").get(0).getContext("2d");
                    myChart = new Chart(ctx, {
                type: 'line', data: data, options: {
                    responsive: false
                }
                    });
                });
            </script>
            <script type="text/javascript">
                setInterval(function() {
                    $.get('{% url "line_chart_json" %}', function(data) {
                        myChart.data = data
                        myChart.update()
                    });
                }, 60 * 1000);
            </script>
        <script type="text/javascript">
            setInterval( function() { document.getElementById("container").src += `?v=${new Date().getTime()}`;
            }, 60 * 1000);
        </script>
        </body>
    </div>

    <div>
        <body>

        <h2>Number of Players (OLS estimate) </h2>
        <canvas id="myChart4" width="900" height="220"></canvas>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "line_chart_num_plrs_pred_json" %}', function(data) {
                    var ctx = $("#myChart4").get(0).getContext("2d");
                    myChart4 = new Chart(ctx, {
                        type: 'line', data: data, options: {
                            responsive: false
                        }
                    });
                });
            </script>
            <script type="text/javascript">
                setInterval(function() {
                    $.get('{% url "line_chart_num_plrs_pred_json" %}', function(data) {
                        myChart4.data = data
                        myChart4.update()
                    });
                }, 60 * 1000);
            </script>
        <script type="text/javascript">
            setInterval( function() { document.getElementById("container").src += `?v=${new Date().getTime()}`;
            }, 60 * 1000);
        </script>
        </body>
    </div>

    <div>
        <body>

        <h2>Number of Players (CVXPY estimate) </h2>
        <canvas id="myChart5" width="900" height="220"></canvas>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "line_chart_num_plrs_pred_cvx_json" %}', function(data) {
                    var ctx = $("#myChart5").get(0).getContext("2d");
                    myChart5 = new Chart(ctx, {
                        type: 'line', data: data, options: {
                            responsive: false
                        }
                    });
                });
            </script>
            <script type="text/javascript">
                setInterval(function() {
                    $.get('{% url "line_chart_num_plrs_pred_cvx_json" %}', function(data) {
                        myChart5.data = data
                        myChart5.update()
                    });
                }, 60 * 1000);
            </script>
        <script type="text/javascript">
            setInterval( function() { document.getElementById("container").src += `?v=${new Date().getTime()}`;
            }, 60 * 1000);
        </script>
        </body>
    </div>

    <div>
        <body>
            <h2>Avg Pot Size</h2>

            <canvas id="myChart2" width="900" height="220"></canvas>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "line_chart_avg_pot_json" %}', function(data) {
                    var ctx = $("#myChart2").get(0).getContext("2d");
                    myChart2 = new Chart(ctx, {
                        type: 'line', data: data, options:
    			{
    				responsive: false
    			}
                    });
                });
            </script>
            <script>
                setInterval(function() {
                    $.get('{% url "line_chart_avg_pot_json" %}', function(data) {
                        myChart2.data = data
                        myChart2.update()
                    });
                }, 60 * 1000);
            </script>
        </body>
    </div>

    <div>
        <body>
            <h2>Percent to Flop</h2>

            <canvas id="myChart3" width="900" height="220"></canvas>

            <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
            <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
            <script type="text/javascript">
                $.get('{% url "line_chart_pct_flop_json" %}', function(data) {
                    var ctx = $("#myChart3").get(0).getContext("2d");
                    myChart3 = new Chart(ctx, {
    			type: 'line', data: data, options: {
    				responsive: false
    			}
                    });
                });
                // console.log($.get('{% url "line_chart_pct_flop_json" %}'))
            </script>
            <script>
                setInterval(function() {
                    $.get('{% url "line_chart_pct_flop_json" %}', function(data) {
                        myChart3.data = data
                        myChart3.update()
                    });
                }, 60 * 1000); // 60 * 1000 milsec
            </script>
        </body>
    </div>

	<style>
    	.row {
    		  display: flex;
    		    flex-wrap: wrap;
    		      padding: 0 4px;
    	}

    	/* Create two equal columns that sits next tch other */
    	.column {
    		  flex: 50%;
    		    padding: 0 4px;
    	}

    	.column img {
    		  margin-top: 8px;
    		    vertical-align: middle;
    	}
	</style>

<!-- 
	<div class="row">
		<div class="column">
		<img id="container" src="{% static 'ignition/fishy_ocr/num_ppl_0.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/num_ppl_1.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/num_ppl_2.png' %}" width="5%"/>
		<img id="continer" src="{% static 'ignition/fishy_ocr/num_ppl_3.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/num_ppl_4.png' %}" width="5%"/></div>
		</div>
		<div class="column">	
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_0.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_1.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_2.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_3.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_4.png' %}" width="5%"/>
		</div>
		<div class="column">	
		<img id="container" src="{% static 'ignition/fishy_ocr/plrs_flop_0.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/plrs_flop_1.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/plrs_flop_2.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/plrs_flop_3.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/plrs_flop_4.png' %}" width="5%"/>
		</div>
		<div class="column">	
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_fishy_0.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_fishy_1.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_fishy_2.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_fishy_3.png' %}" width="5%"/>
		<img id="container" src="{% static 'ignition/fishy_ocr/avg_pot_fishy_4.png' %}" width="5%"/>
		</div>
	</div>
-->
</html>
