{% extends 'base.html' %} {% block content %}
{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'ignition/style.css' %}"> -->
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.boxed {
  border: 1px solid green ;
}

xmp {
  font-size: 85%;
}

</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>Poker Data Grabber</h1>
        <p class=" text-muted"> Raymond Feng | 8/6/2020 </p>
        <p class="card-text ">{{ object.content | safe }}</p>

        <br>
        <img src="{% static 'ignition/ignition.png' %}" width="75%" / >
        <br>
        <br>

        <h2>Overview</h2>

        <p> Poker data grabber takes information trapped in GUIs, and displays them in a sleek webpage. The main parts of the project are as follows. </p>

        <ul>
          <li>Django Rest API Server. Upon API request, return a screenshot of the GUI. Uses base64 to encode.</li>
          <li>Django Server. Makes periodic calls to the Django Rest API, does processing, inserts the data into database. Displays data.</li>
          <li>Celery-Beat. Task automation. Redis for message brokering. </li>
          <li>OCR. After getting the screenshot, use PIL, CV2, Pytesseract to do OCR and inserts into backend database.</li>
          <li>Chartjs. Render the data into charts. </li>
          <li>Autoscreen. Automatically capture screenshots at preset time interval. </li>
          <li>Ngrok to expose both the API and the main site to the outside world. </li>
        </ul>

        <xmp>
        git clone 
          https://github.com/raymondhfeng-wttec/django-tutorial
        </xmp>

	<xmp>
        python3 -n pip install Django
        needed to upgrade python on raspberry pi: https://gist.github.com/dschep/24aa61672a2092246eaca2824400d37f
        sudo python3.6 -m pip install Django
        python3.6 manage.py runserver
        install redis from tutorial
        make redis
        redis-server
        sudo python3.6 -m pip install celery==4.0.2
	</xmp>

	<xmp>
	https://github.com/tesseract-ocr/tesseract/issues/1309
	https://stackoverflow.com/questions/50655738/how-do-i-resolve-a-tesseractnotfounderror
	requests
	statsmodels
	psycopg2
	django-debug-toolbar
	https://pypi.org/project/django-chartjs/
        sudo python3.6 -m pip install django-chartjs
        sudo python3.6 -m pip install redis
        sudo python3.6 -m pip install celery==4.1.1
        https://www.raspberrypi.org/blog/piwheels/
        sudo python3.6 -m pip install numpy
        python3.6 manage.py makemigrations
        python3.6 manage.py migrate
        python3.6 -m pip install pillow
        python3.6 -m pip install opencv-python
        gotta make a requirements.txt 
        sudo python3.6 -m pip install pandas \
        https://stackoverflow.com/questions/50951955/pytesseract-tesseractnotfound-error-tesseract-is-not-installed-or-its-not-i \
        https://www.pyimagesearch.com/2017/07/03/installing-tesseract-for-ocr/
	</xmp>

        https://www.pyimagesearch.com/2015/10/26/how-to-install-opencv-3-on-raspbian-jessie/
        extremely useful for installing cv2 and using virtualenv
        this was such a pain in the ass that i can see why docker is so successful now  
        

        <h2>REST API</h2>

        <p>The REST API can be cloned from my github. There is not much special configuration needed, and the API simply traverses a directory for the most recent screenshot, and returns it in a JSON payload after encoding in base64. Configuring some directories and doing runserver will suffice. Then use nginx to expose the local server to the outside world. Autoscreen needs to be installed so that screenshots are taken periodically.</p>

        <h2>Main Django Server</h2>
        <p>After cloning from github, need to install Django Celery Beat (https://medium.com/@yedjoe/celery-4-periodic-task-in-django-9f6b5a8c21c7). The tasks are already created and you just need to start them with the celery command. Redis also needs to be installed (https://redis.io/topics/quickstart) and that server needs to be run. Also need to make the migrations locally. </p>
        <xmp>
          python manage.py makemigrations
          python manage.py migrate 
          python manage.py runserver
          redis-server 
          celery -A mysite_3 worker -l info -B
        </xmp>
        <p> Need to import the OCR code module, a bunch of requirements are necessary, as the celery task is dependent on that. Also need to install Chartjs (INSERT TUTORIAL SITE).</p>

https://www.digitalocean.com/community/tutorials/how-to-use-postgresql-with-your-django-application-on-ubuntu-16-04
	<h2>Future Work</h2>
	<ul>
	<li>Change from SQLite to Postgres</li>
	<li>Make the OCR more robust.</li>
	<li>Make the frontend sleeker with adminator skin</li>
	<li>Create a model that will predict the number of people in rooms when 50+<li>
	</ul>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
